# Python
__pycache__/
*.py[cod]
*.so
*.log

# Virtual environment
venv/
.env/

# Audio files
*.wav
*.mp3
*.mp4

# Temp and cache
temp/
audio_cache/
wav2vec2_checkpoints/
pretrained_models/
accent-id-commonaccent_xlsr-en-english/

# Flask and Web
instance/
static/*.cache
*.sqlite3

# IDE and OS files
.DS_Store
.vscode/
.idea/
cookies.txt
